body {
	text-transform: none;
	font-family: serif;
}

img {
	width: 100vw;
}

.home {
	width: 100vw;
	height: 100vh;
}

.current {
	height: 92vh;
}

.detail {
	min-height: 94vh;
}

.small {
	height: 3vh;
	font-size: 1.5vh;
	text-align: center;
	padding: 0.7vh 2vh 0 2vh;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.headline {
	font-family: sans-serif;
	font-size: 16px;
	margin-top: 2vh;
	padding: 1vh 4vh;
}

.content {
	font-size: 13px;
	padding: 1vh 2vh;
}

.image {
	max-height: 47vh;
	overflow: hidden;
}

.backup, .debug {
	display: none;
}

.ad {
	overflow: initial;
	padding: 0.7vh 0 0 0;
}

.adsbygoogle {
	width:100vw;
	max-height:25vh;
	display: inline-block;
}

.bars-button {

}