body {
	text-transform: none;
	font-family: serif;
}

img {
	width: 100vw;
}

.home {
	width: 100vw;
	height: 100vh;
}

.current {
	height: 92vh;
}

.detail {
	min-height: 94vh;
}

.small {
	height: 3vh;
	font-size: 1.5vh;
	text-align: center;
	padding: 0.7vh 2vh 0 2vh;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.headline {
	font-family: sans-serif;
	font-size: 16px;
	margin-top: 2vh;
	padding: 1vh 4vh;
}

.content {
	font-size: 13px;
	padding: 1vh 2vh;
}

.image {
	max-height: 47vh;
	overflow: hidden;
}

.backup, .debug {
	display: none;
}

.ad {
	overflow: initial;
	padding: 0.7vh 0 0 0;
}

.adsbygoogle {
	width:100vw;
	max-height:25vh;
	display: inline-block;
}

#menu {
	width: 30vw;
	background-color: yellow;
	position:absolute;
	bottom: 50vy;
	left: 35vw;
	display:none;
}


		.showLeft{  
			background-color: #0d77b6 !important;
			border:1px solid #0d77b6 !important;
			text-shadow: none !important;
			color:#fff !important;
			padding:10px;
		}
		.icons li {
		    background: none repeat scroll 0 0 #fff;
		    height: 7px;
		    width: 7px;
		    line-height: 0;
		    list-style: none outside none;
		    margin-right: 15px;
		    margin-top: 3px;
		    vertical-align: top;
		}	

		.btn-left {
		    left: 0.4em;
		}
		.btn-right {
		    right: 0.4em;
		}

		.btn-left, .btn-right {
		    position: absolute;
		    top: 0.24em;
		}
		.linker{
			text-decoration: none;
			color: #fff;
			background-color: #0d77b6 !important;
			padding: 15px;
			font-size: 20px;
			margin: 200px auto;
			display: block;
			width: 200px;
		}